.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(111, 165, 212);

    & .logo {
        padding-inline: 10px;
        padding-block: 10px;
        font-weight: 800;
        font-size: 32px;

        &:hover {
            cursor: pointer;
        }
    }

    & nav {
        display: flex;
        font-size: 25px;

        & > * {
            display: block;
            padding-inline: 10px;
            padding-block: 15px;
            color: rgb(57, 10, 10);
            font-weight: 600;
            position: relative;

            &:is(.router-link-active, .router-link-exact-active) {
                &::after {
                    position: absolute;
                    content: "";
                    height: 3px;
                    width: 100%;
                    background-color: rgb(10, 10, 10);
                    bottom: 0;
                    left: 0;
                }
            }

            &:hover {
                background-color: rgb(169, 184, 148);
            }
        }
    }
}
