body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

ul,
li {
    list-style-type: none;
    padding-inline: 0;
    padding-block: 0;
    margin-inline: 0;
    margin-block: 0;
}

p{
    margin-block: 0;
    margin-inline: 0;
}

a {
    text-decoration: none;
    color: initial;
}
